{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "semi": false,
  "quoteProps": "consistent",
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "importOrder": [
    "^@nestjs/(.*)$",
    "^@common/(.*)$",
    "^@entities/(.*)$",
    "@repositories/(.*)$",
    "^@api-interfaces/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
