{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "semi": false,
  "quoteProps": "consistent",
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "importOrder": [
    "^@nestjs/(.*)$",
    "^@common/(.*)$",
    "^@configs/(.*)$",
    "^@utils$",
    "^@utils/(.*)$",
    "^@interfaces$",
    "^@interfaces/(.*)$",
    "^@guards$",
    "^@guards/(.*)$",
    "^@entities/(.*)$",
    "^@repositories/(.*)$",
    "^@gyms/(.*)$",
    "^@profiles/(.*)$",
    "^@registrations/(.*)$",
    "^@reservations/(.*)$",
    "^@staffs/(.*)$",
    "^@users/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
